In [6]:
import sys
import keyword
import operator
from datetime import datetime
import os

## Keywords

### Keywords are reserved words in python and can't be used as an identifier

In [11]:
print(keyword.kwlist) # List all python keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
len(keyword.kwlist)

35

In [1]:
1var = 10

SyntaxError: invalid decimal literal (4256868957.py, line 1)

In [2]:
val2@ = 35

SyntaxError: invalid syntax (3636076842.py, line 1)

In [3]:
import = 25

SyntaxError: invalid syntax (2736324093.py, line 1)

In [4]:
val2 = 10

In [5]:
val_ = 99

In [9]:
p1 = 20 + 30 \
+ 40 + 50 \
+ 70 + 80 \
+ 90 + 87

In [10]:
print(p1)

467

In [11]:
p2 = ["vish", "dhruv", "ram", "sri"]

In [23]:
for i in p2:
    print(i)
    if i == "ram":
        break

vish
dhruv
ram

In [21]:
for i in range(10):
    print(i)
    if i == 8:
        break

0
1
2
3
4
5
6
7
8

In [2]:
for i in range(30):
    while ( i < 10):
        print(f"{i}: You are right\n")
        i+=1

0: You are right

1: You are right

2: You are right

3: You are right

4: You are right

5: You are right

6: You are right

7: You are right

8: You are right

9: You are right

1: You are right

2: You are right

3: You are right

4: You are right

5: You are right

6: You are right

7: You are right

8: You are right

9: You are right

2: You are right

3: You are right

4: You are right

5: You are right

6: You are right

7: You are right

8: You are right

9: You are right

3: You are right

4: You are right

5: You are right

6: You are right

7: You are right

8: You are right

9: You are right

4: You are right

5: You are right

6: You are right

7: You are right

8: You are right

9: You are right

5: You are right

6: You are right

7: You are right

8: You are right

9: You are right

6: You are right

7: You are right

8: You are right

9: You are right

7: You are right

8: You are right

9: You are right

8: You are right

9: You are right

9: You are right

In [21]:
class car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage

    def car_info(self):
        print(f"The car name is {self.name}\n")
        print(f"The car mileage is {self.mileage}\n")

class truck(car):
    def truck_info(self, cost):
        self.cost = cost
        print(f"The truck name is {self.name}\n")
        print(f"The truck mileage is {self.mileage}\n")
        print(f"The cost is {self.cost}\n")

class bike(truck):
    def bike_info(self, model):
        self.model = model
        print(f"The bike name is {self.name}\n")
        print(f"The bike mileage is {self.mileage}\n")
        print(f"The bike cost is {self.model}\n")
    
a = car("Hyundai", 15)
a.car_info()

b = truck("Mahindra", 11)
b.truck_info(500000)

c = bike("Yamaha", 45)
c.bike_info(2016)

The car name is Hyundai

The car mileage is 15

The truck name is Mahindra

The truck mileage is 11

The cost is 500000

The bike name is Yamaha

The bike mileage is 45

The bike cost is 2016

In [18]:
def square(num):
    "Square function will return the square of a number"
    return num ** 2

In [19]:
square(4)

16

In [20]:
square.__doc__

'Square function will return the square of a number'